li {
  display: inline;
}

i {
  font-size: 30px !important;
  color: black;
  padding: 0px 10px 0px 10px;
}

.scrollto:active {
  color: red;
}

.profil-picture img{
  max-width: 100%;
  max-height: auto;
}

.space-box {
  height: 100px;
}

.small-space-box {
  height: 50px;
}

.verysmall-space-box {
  height: 30px;
}

.supersmall-space-box {
  height: 20px;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  max-height: 184px;
}

.card-container {
  padding: 2px 16px;
}

.card-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 16px 16px 16px 16px  ;

  .card {
    display: inline-block;
    margin: 0px 16px 0px 16px;

    img {
      max-height: 300px;
    }
  }
}

/* navbar */
.nav-item {
  
  a {
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
  }
}

/* footer */
#footer {
  background-color: lightgrey;
}